
<div id="modal_overlay" class="fixed top-0 left-0 w-[100%] h-[100%] bg-gray-900/70 hidden justify-center items-center z-50">
    <div class="bg-white p-5 rounded-lg shadow-sm max-w-[400px] w-[90%]">
        <div class="text-center">
            <h2>Confirmar Exclusão</h2>
            <p>Tem certeza que deseja excluir este item? Esta ação não pode ser desfeita.</p>
            <div class="mt-5 flex justify-center gap-3">
                <a href="{{ url }}" class="btn_delete">Sim, Excluir</a>
                <button id="not_delete" class="btn">Cancelar</button>
            </div>
        </div>
    </div>
</div>
