<footer>
    <section class="py-6 px-4 bg-grafite flex flex-col justify-center">
        <h2 class="uppercase text-2xl text-white">Deseja receber nossas novidades?</h2>
        <form class="flex flex-col md:flex-row md:max-w-[768px] justify-around gap-4 md:gap-8" action="#">
                <div class="w-full">
                    <input class="w-full h-10 bg-grafite placeholder:text-white border border-white focus:outline-none pl-1 text-white" type="text" name="name" placeholder="Seu nome">
                </div>
                <div class="flex w-full">
                    <input class="w-full h-10 bg-grafite placeholder:text-white border border-white focus:outline-none pl-1 text-white" type="email" name="email" placeholder="Seu e-mail">
                    <input class="bg-white px-3 hover:cursor-pointer font-bold" type="submit" value="ENVIAR">
                </div>
        </form>
    </section>
    <section class="w-full h-fit md:h-115px py-6 px-4 bg-ligth-gray flex flex-col items-center justify-center md:justify-between gap-4">
        <nav>
            <ul class="flex text-xs flex-col md:flex-row gap-2 items-center uppercase font-semibold text-semiblack h-fit md:h-[30px]">
                <li><a href="#">produtos em promoção</a></li>
                <li><a href="#">blusas</a></li>
                <li><a href="#">camisas</a></li>
                <li><a href="#">calçados</a></li>
                <li><a href="#">calsas</a></li>
                <li><a href="#">shorts</a></li>
            </ul>

        </nav>

        <div class="w-full flex flex-col md:flex-row items-center justify-normal md:justify-between">
            <p><a href="#">Created by Valdean José</a></p>
            <p class="text-1xl">Todos os direitos reservados desde 2024</p>
        </div>

    </section>
</footer>