{% load static %}
{% load custom_filters %}


<header class="bg-nude-400">
    <div class="m-auto max-w-7xl h-fit flex flex-col gap-8 pt-3">
        <div class="flex items-center justify-between mx-3 h-full">
            <div class="flex items-center gap-3">
                <div class="md:hidden rounded-full bg-nude-500 relative">
                    <img src="{% static 'img/list.svg' %}" alt="">
                    <aside class="hidden absolute h-fit z-10 bg-white p-3 w-[210px]">
                        <nav>
                            <ul class="uppercase text-[12px] flex flex-col gap-2 items-center">
                                <li class="">
                                    <a href="{% url "produtos:promocao" %}">produtos em promoção</a>
                                </li>
                                <li class="">
                                    <a href="{% url "produtos:blusas" %}">blusas</a>
                                </li>
                                <li class="">
                                    <a href="{% url "produtos:camisas" %}">camisas</a>
                                </li>
                                <li class="">
                                    <a href="{% url "produtos:calcados" %}">calçados</a>
                                </li>
                                <li class="">
                                    <a href="{% url "produtos:calsas" %}">calsas</a>
                                </li>
                                <li class="">
                                    <a href="{% url "produtos:shorts" %}">shorts</a>
                                </li>
                            </ul>
                        </nav>
                    </aside>
                </div>
                <h1 class="text-2xl md:text-4xl font-extrabold text-semiblack"><a href="{% url "produtos:home" %}">BAZZARA</a></h1>
            </div>
            <div>
                <form method="get" action="{% url "produtos:busca" %}" class="flex relative">
                    <input class="focus:outline-none pl-1 w-[130px] h-10 md:w-[300px] bg-white rounded-md" type="text" name="search" id="busca" placeholder="Procurar...">
                    <button class="absolute right-1 bottom-2">
                        <img class="w-7 h-7" src="{% static 'img/search.svg' %}" alt="search">
                    </button>
                </form>
            </div>
            <div>
                <nav>
                    <ul class="flex gap-6">
                        <li class="relative cursor-pointer uppercase text-1xl">
                            <span id="perfil" class="flex justify-center gap-1">
                                <img title="Profile" src="{% static 'img/user.svg' %}" alt="shopping" class="h-5 w-5 inline">
                                <p class="hidden md:inline select-none">Perfil</p>
                            </span>
                            <div id="perfil_dropdown" class="absolute hidden -right-[30px] top-8 md:right-1">

                                <nav class="dropdown_up_arrow uppercase shadow-md min-w-[150px] text-1xl flex flex-col z-50 relative bg-white">
                                    {% if request.user.is_authenticated %}
                                        <li class="dropdown-li">
                                            <a class="w-full" href="{% url 'registro:logout' %}">sair</a>
                                        </li>
                                    {% else %}
                                        <li class="dropdown-li">
                                            <a class="w-full" href="{% url 'registro:registrar' %}">entrar/registrar</a>
                                        </li>
                                    {% endif %}
                                    <li class="dropdown-li">
                                        <a class="w-full" href="{% url "pedidos:pedidos" %}">meus pedidos</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a class="w-full" href="{% url 'endereco:meu_endereco' %}">endereço</a>
                                    </li>
                                </nav>

                            </div>
                        </li>
                        <li class="relative cursor-pointer uppercase text-1xl">
                            <a href="{% url "produtos:carrinho" %}" class="flex justify-center gap-1">
                                <p class="absolute -left-[14px] bottom-1 text-[12px]">
                                    {% if request.session.carrinho %} 
                                        {{ request.session.carrinho|cardlength }}x
                                    {% endif %}
                                </p>
                                <img title="Cart" src="{% static 'img/shopping-cart.svg' %}" alt="cart-shopping" class="inline h-6 w-6">
                                <p class="hidden md:inline select-none">Carrinho</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="h-9 hidden md:flex items-center">
            <nav class="h-full m-auto max-w-5xl">
                <ul class="flex gap-10 uppercase font-semibold text-semiblack h-18px">
                    <li class="option"><a href="{% url "produtos:promocao" %}">produtos em promoção</a></li>
                    <li class="option">
                        <a href="{% url "produtos:blusas" %}">blusas</a>
                    </li>
                    <li class="option">
                        <a href="{% url "produtos:camisas" %}">camisas</a>
                    </li>
                    <li class="option">
                        <a href="{% url "produtos:calcados" %}">calçados</a>
                    </li>
                    <li class="option">
                        <a href="{% url "produtos:calsas" %}">calsas</a>
                    </li>
                    <li class="option">
                        <a href="{% url "produtos:shorts" %}">shorts</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>