{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Entrar | Registrar
{% endblock titulo %}

{% block script %}
    <script defer src="{% static "js/registro.js" %}"></script>
{% endblock script %}


{% block conteudo %}
    <main class="min-h-[calc(100vh-435px)]">
        <div class="flex flex-col md:flex-row gap-10 my-12 w-full md:w-[768px] mx-auto sm:items-center md:items-baseline sm:justify-normal md:justify-center bg-ligth-milk p-3">
            <section class="w-full md:fit">
                <h2 class="font-semibold mb-3 text-semiblack">Já sou cliente</h2>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'info' %}
                            <p class="text-[12px] font-semibold text-red-500">
                                {{ message }}
                            </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <form action="{% url "registro:login" %}" method="post" class="flex flex-col gap-4">
                    {% csrf_token %}
                    <div class="flex flex-col w-[100%] md:w-80">
                        <label class="text-semiblack text-1xl" for="credencial">E-mail ou Usuário</label>
                        <input class="border focus:outline-none pl-1 h-10" type="text" name="credencial" required id="credencial" placeholder="Digite seu e-mail ou usuário">                                         
                    </div>
                    <div class="flex flex-col w-[100%] md:w-80 relative">
                        <label class="text-semiblack text-1xl" for="passwordd">Senha</label>
                        <input class="border focus:outline-none pl-1 h-10" type="password" name="passwordd" required id="passwordd" placeholder="Digite sua senha">
                        <img src="{% static 'img/eye-off.svg' %}" class="absolute right-2 translate-y-[33px] cursor-pointer" id="show_password_login">
                    </div>
                    <button class="border-2 border-black w-fit md:w-80 uppercase py-1 px-2 font-semibold hover:text-white hover:bg-black transition duration-150" type="submit">entrar</button>
                </form>
            </section>

            <section class="w-full md:fit">
                <h2 class="font-semibold mb-3 text-semiblack">Quero criar uma conta</h2>
                <form method="post" class="flex flex-col gap-4">
                    {% csrf_token %}
                    <div class="flex flex-col w-[100%] md:w-80">
                        <label class="text-semiblack text-1xl" for="username">Nome de usuário</label>
                        <input class="border focus:outline-none pl-1 h-10" type="text" name="username" required id="username" placeholder="Digite seu nome de usuário" value="{{request.POST.username}}">
                        {% for error in form.username.errors %}
                            <p class="text-[11px] text-red-500 font-semibold">
                                {{error}}
                            </p>
                        {% endfor %}
                    </div>

                    <div class="flex flex-col w-[100%] md:w-80">
                        <label class="text-semiblack text-1xl" for="username">Nome</label>
                        <input class="border focus:outline-none pl-1 h-10" type="text" name="first_name" required id="first_name" placeholder="Digite seu nome" value="{{request.POST.first_name}}">
                        {% for error in form.first_name.errors %}
                            <p class="text-[11px] text-red-500 font-semibold">
                                {{error}}
                            </p>
                        {% endfor %}
                    </div>

                    <div class="flex flex-col w-[100%] md:w-80">
                        <label class="text-semiblack text-1xl" for="username">Sobrenome</label>
                        <input class="border focus:outline-none pl-1 h-10" type="text" name="last_name" required id="last_name" placeholder="Digite seu sobrenome" value="{{request.POST.last_name}}">
                        {% for error in form.last_name.errors %}
                            <p class="text-[11px] text-red-500 font-semibold">
                                {{error}}
                            </p>
                        {% endfor %}
                    </div>


                    <div class="flex flex-col w-[100%] md:w-80">
                        <label class="text-semiblack text-1xl" for="email">E-mail</label>
                        <input class="border focus:outline-none pl-1 h-10" type="email" name="email" required id="email" placeholder="Digite seu e-mail" value="{{request.POST.email}}">
                        {% for error in form.email.errors %}
                            <p class="text-[11px] text-red-500 font-semibold">
                                {{error}}
                            </p>
                        {% endfor %}
                    </div>
                    <div class="flex flex-col w-[100%] md:w-80 relative">
                        <label class="text-semiblack text-1xl" for="password">Senha</label>
                        <input class="border focus:outline-none pl-1 h-10" type="password" name="password" required id="password" placeholder="Digite sua senha">
                        {% for error in form.password.errors %}
                            <p class="text-[11px] text-red-500 font-semibold">
                                {{error}}
                            </p>
                        {% endfor %}
                        <img src="{% static 'img/eye-off.svg' %}" class="absolute right-2 translate-y-[33px] cursor-pointer" id="show_password_register">
                    </div>
                    <div class="flex flex-col w-[100%] md:w-80">
                        <label class="text-semiblack text-1xl" for="password2">Confirmar senha</label>
                        <input class="border focus:outline-none pl-1 h-10" type="password" name="password2" required id="password2" placeholder="Digite sua senha novamente">
                        {% for error in form.password2.errors %}
                            <p class="text-[11px] text-red-500 font-semibold">
                                {{error}}
                            </p>
                        {% endfor %}
                    </div>

                    <button class="border-2 border-black w-fit md:w-80 uppercase py-1 px-2 font-semibold hover:text-white hover:bg-black transition duration-150" type="submit">criar</button>
                </form>
            </section>
        </div>
    </main>
{% endblock conteudo %}

</body>
</html>
