{% extends "base.html" %}
{% load static %}

{% block titulo %}Meu endereço{% endblock titulo %}

{% block script %}
    <script defer src="{% static 'js/endereco.js' %}"></script>
    <script defer src="{% static 'js/delete_modal.js' %}"></script>
{% endblock script %}

{% block conteudo %}
    <main class="h-[70vh]">
        {% include "partials/_delete_modal.html" with url="/endereco/apagar" %}
        <div class="my-6 mx-auto md:w-[768px] bg-ligth-milk p-3">
            <h2 class="text-2xl text-semiblack">Meu endereço</h2>
            <hr>
            <div class="mt-2 px-3 md:px-0 flex flex-col gap-3">
                <div class="w-32 h-32 border">
                    <div>
                        <img class="w-[100%] h-[100%]" src="{% if endereco.foto %}
                        {{endereco.foto.url}}
                        {% else %}
                        {% static "img/blank-profile-picture.svg" %}
                        {% endif %}" alt="Imagem do perfil">
                    </div>
                </div>
                <div class="flex flex-col gap-3">
                    <div>
                        <div class="flex gap-2 items-center">
                            <span>Nome:</span>
                            <p>{{ endereco.nome_completo }}</p>
                        </div>
                        <div class="flex gap-2 items-center">
                            <span>Telefone:</span>
                            <p id="meu_telefone" data-telefone="{{ endereco.telefone}}"></p>
                        </div>
                        <div class="flex gap-2 items-center">
                            <span>UF:</span>
                            <p>{{ endereco.estado }}</p>
                        </div>
                        <div class="flex gap-2 items-center">
                            <span>Cidade:</span>
                            <p>{{ endereco.cidade }}</p>
                        </div>
                        <div class="flex gap-2 items-center">
                            <span>Rua:</span>
                            <p>{{ endereco.rua}}</p>
                        </div>
                        <div class="flex gap-2 items-center">
                            <span>Bairro:</span>
                            <p>{{ endereco.bairro}}</p>
                        </div>
                        <div class="flex gap-2 items-center">
                            <span>Número:</span>
                            <p>{{ endereco.numero}}</p>
                        </div>
                        <div class="flex gap-2 items-center">
                            <span>CEP:</span>
                            <p id="meu_cep" data-cep="{{ endereco.cep }}"></p>
                        </div>
                    </div>
                    <div class="w-56 flex flex-row justify-between">
                        <a href="{% url 'endereco:editar_endereco' %}" class="btn">editar</a>

                        <button onclick="handleConfirm()" class="btn_delete">apagar</button>
                    </div>
                </div>
            </div>
        </div> 
    </main>
{% endblock conteudo %}
