{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block titulo %}bazzara{% endblock titulo %}

{% block script %}
    <script defer src="{% static "js/rating.js" %}"></script>
{% endblock script %}

{% block conteudo %}
<main class="">
    {% include "partials/_rating_modal.html" %}
    <div class="md:max-w-[1024px] sm:px-2 mx-auto">
        <div class="flex flex-row flex-wrap justify-center gap-2 py-12">

            {% for produto in produtos %}
                {% include "partials/_card.html" with produto=produto %}
            {% endfor %}

        </div>
    </div>
</main>
{% endblock conteudo %}